@use '../../helpers' as *;

.accordion {
  padding: fluid(20, 10);
  background: var(--color-light-alt);
  border: var(--border);
  border-radius: var(--radius-medium);

  &:not(:last-child) {
    margin-bottom: fluid(20, 10);
  }

  @include hover {
    border-color: var(--color-accent);
  }

  &__student {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(10);
    cursor: pointer;
  }

  &__icon {
    @include square(#{rem(30)});

    rotate: 90deg;
    transition-duration: var(--transition-duration);

    &.is-active {
      color: var(--color-accent);
      rotate: -90deg;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    column-gap: rem(5);
    margin-block: rem(5);
    height: min(15vw, rem(100));
    transition-duration: var(--transition-duration);

    &:not(.is-active) {
      height: 0;
      margin-block: 0;

      & > .accordion__item {
        transform: scaleY(0);
        opacity: 0;
      }
    }
  }

  &__item {
    @include fluid-text(52, 28);
    @include flex-center();

    width: 20%;
    aspect-ratio: 1;
    border: var(--border);
    cursor: pointer;
    position: relative;

    @include hover {
      border-color: var(--color-accent);
    }
  }
}