@use '../../helpers' as *;

.date {

  &:not(.is-active) {
    display: none;
  }

  &__content {
    @include landscape-orientation;
  }

  &__header {
    padding-right: rem(20);
    margin-bottom: fluid(30, 15);

    &-btn {
      @include square(#{rem(40)});

      border-radius: 50%;
      border: var(--border);
      aspect-ratio: 1;
      padding: rem(5);

      @include hover {
        border-color: var(--color-accent);
      }
    }

    &-form {
      display: flex;
      align-items: center;
      column-gap: rem(5);
    }

    &-input {
      @include fluid-text(25, 20);

      width: 33%;
      background: transparent;
      border: none;
      border-bottom: var(--border);
      text-align: center;
      font-weight: 600;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__no-data {
    @include flex-center();

    position: relative;
    height: fluid(300, 180);

    &:not(.is-active) {
      display: none;
    }
  }

  &__null-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(.is-active) {
      display: none;
    }

    svg {
      width: fluid(120, 60);
      fill: transparent;
    }
  }

  &__loading {
    @include square(#{rem(50)});
  }

  &__list {
    margin-bottom: fluid(30, 15);
    white-space: nowrap;
    max-height: 40vh;

    &-btn-bar {
      @include flex-center();

      background: var(--color-dark-alt);
      column-gap: rem(10);
      position: absolute;
      right: rem(-2);
      height: calc(100% + #{rem(4)});
      padding-inline: rem(15);
      border-radius: var(--radius-regular);
      transition-duration: var(--transition-duration);

      &:not(.is-active) {
        right: -100%;
      }

      svg {
        fill: transparent;
        color: var(--color-light);
        filter: drop-shadow(0 0 rem(3) var(--color-dark));
      }
    }

    &-btn {
      @include square(#{rem(35)});

      border-radius: 50%;
    }
  }

  &__item {
    column-gap: rem(10);
    padding: rem(10);
    position: relative;

    &.is-active {
      border-color: var(--color-success);
      box-shadow: inset 0 0 rem(1) rem(2) var(--color-light);
      color: var(--color-light);
      text-shadow: 0 0 rem(6) var(--color-dark);
    }
  }
}