@use '../../helpers' as *;

.date-create {

  &:not(.is-active) {
    display: none;
  }

  &__content {
    @include landscape-orientation;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    row-gap: rem(5);
    margin-bottom: rem(10);
  }

  &__counter {
    display: flex;
    column-gap: rem(8);
  }

  &__form {
    margin-bottom: rem(15);
  }

  &__btn-bar {
    @include flex-center();

    column-gap: rem(15);
  }

  &__lessons {
    position: relative;

    &:not(:last-child) {
      margin-bottom: rem(15);
    }

    &::after {
      @include square(#{rem(20)});

      content: '';
      position: absolute;
      translate: 0 -50%;
      top: 50%;
      right: rem(10);
      background: url("/src/assets/icons/accordion-arrow.svg") no-repeat;
      rotate: -90deg;
    }
  }

  &__select {
    width: 100%;
    background: var(--color-accent);
    border: none;
    padding: rem(10);
    color: var(--color-light);
    text-shadow: 0 0 rem(5) var(--color-dark);
    border-radius: var(--radius-regular);
    max-height: 50vh;
    font-weight: 600;

    //скрываем стрелку по умолчанию
    -webkit-appearance: none; /* Для Chrome и Safari */
    -moz-appearance: none;    /* Для Firefox */
    appearance: none;         /* Для всех современных браузеров */

    &::-ms-expand {
      display: none;
    }
  }

  &__option {

    &:checked {
      background: var(--color-light-alt);
      color: var(--color-dark);
      text-shadow: none;
    }
  }
}