@use '../../helpers' as *;

.journal {
  display: flex;
  flex-direction: column;
  padding-block: fluid(30, 10);

  &__navigation {
    margin-bottom: rem(10);
  }

  &__header {
    background: var(--color-accent);
    color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(10);
    border-radius: var(--radius-medium);
    padding: fluid(20, 10);
    margin-bottom: rem(10);
  }

  &__vertical {

    &:not(.is-active) {
      display: none;
    }
  }

  &__lessons {
    display: flex;
    justify-content: space-between;
    column-gap: rem(5);
    margin-bottom: rem(15);

    &:not(.is-active) {
      display: none;
    }

    &-item {
      @include flex-center();

      flex-grow: 1;
      background: var(--color-light-alt);
      padding: fluid(20, 10);
      border: var(--border);
      cursor: pointer;
      border-radius: var(--radius-regular);

      @include hover {
        background: var(--color-accent);
      }
    }

    &-absolute {
      text-align: center;
      border-radius: 50%;

      &:not(.is-active) {
        display: none;
      }
    }
  }

  &__null-list {
    @include abs-center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:not(.is-active) {
      display: none;
    }

    svg {
      fill: transparent;
      width: fluid(180, 90);
    }
  }

  &__list {

    &:not(.is-active) {
      display: none;
    }
  }

  &__students {

    &:not(.is-active) {
      display: none;
    }

    &-list {
      margin-bottom: fluid(25, 15);
    }

    &-btn {
      width: 100%;
    }

    &-item {
      position: relative;
      overflow: hidden;
    }

    &-btn-bar {
      position: absolute;
      right: rem(-2);
      background: var(--color-dark-alt);
      padding: rem(10);
      border-radius: var(--radius-regular);
      transition-duration: var(--transition-duration);

      &:not(.is-active) {
        right: -100%;
      }

      svg {
        color: var(--color-light);
        filter: drop-shadow(0 0 rem(3) var(--color-dark));
      }
    }

    &-create {

      &:not(.is-active) {
        display: none;
      }
    }

    &-redact {

      &:not(.is-active) {
        display: none;
      }
    }
  }
}