@use '../../helpers' as *;

.user {
  transition-duration: var(--transition-duration);

  &:not(.is-active) {
    display: none;
    backdrop-filter: blur(0);
  }

  &__content {
    @include landscape-orientation;

    top: -100%;
    width: min(88%, rem(400));
  }
}