@use 'helpers' as *;

body {
  color: var(--color-dark);
  font-family: var(--font-family-base);
  background-color: var(--color-light);
  font-weight: 500;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: rem(16);

  &.is-lock {
    overflow-y: hidden;
  }

  &.is-dark {
    --color-light: #191919;
    --color-light-alt: #565656;
    --color-dark: #f9f8fd;
    --color-dark-alt: #f6f7f9;
    --color-accent: #fef62f;
    --border: #{rem(2)} solid var(--color-dark);
  }
}

a,
button,
label,
input,
textarea,
select,
li,
svg * {
  transition-duration: var(--transition-duration);
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

h1, .h1 {
  @include fluid-text(50, 40);
}

h2, .h2 {
  @include fluid-text(45, 35);
}

h3, .h3 {
  @include fluid-text(35, 22);
}

h4, .h4 {
  @include fluid-text(30, 20);
}

h5, .h5 {
  @include fluid-text(25, 18);
}

h6, .h6 {
  @include fluid-text(20, 16);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-light);
  }

  &[class] {
    text-decoration: none;
  }
}

input, textarea {
  outline: none !important;
  border: rem(2) solid var(--color-dark-alt);
  color: var(--color-dark);

  &:focus {
    border-color: var(--color-accent);
  }

  &::placeholder {
    color: var(--color-accent);
  }

  @include hover {
    outline-color: var(--color-accent);
  }
}

button {
  @include reset_button;
}

button:disabled {
  color: var(--color-dark);
  opacity: .5;
  cursor: default;
  border-color: var(--color-dark);

  @include hover {
    color: var(--color-light-alt);
  }
}

//кастомизация скроллбара
body::-webkit-scrollbar {
  width: rem(10);               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: var(--color-accent);        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-alt);    /* цвет плашки */
  border-radius: rem(20);       /* закругления плашки */
  border: rem(3) solid var(--color-dark);  /* padding вокруг плашки */
}

body {
  scrollbar-width: thin;          /* "auto" или "thin"  */
  scrollbar-color: var(--color-dark-alt) var(--color-accent);   /* плашка скролла и дорожка */
}

.field__errors {
  color: var(--color-error);
  font-size: rem(16);
}

.select {
  width: 100%;
  background: var(--color-accent);
  border: none;
  padding: rem(10);
  color: var(--color-light);
  text-shadow: 0 0 rem(5) var(--color-dark);
  border-radius: var(--radius-regular);
  font-weight: 600;

  //скрываем стрелку по умолчанию
  -webkit-appearance: none; /* Для Chrome и Safari */
  -moz-appearance: none;    /* Для Firefox */
  appearance: none;         /* Для всех современных браузеров */

  &::-ms-expand {
    display: none;
  }

  &__container {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-regular);

    &:not(:last-child) {
      margin-bottom: rem(15);
    }

    &::before, &::after {
      @include square(#{rem(20)});

      content: '';
      position: absolute;
      translate: 0 -50%;
      top: 50%;
    }

    &::before {
      right: rem(20);
      background: var(--color-accent);
    }

    &::after {
      right: rem(10);
      background: url("/src/assets/icons/accordion-arrow.svg") no-repeat, var(--color-accent);
      rotate: -90deg;
    }
  }
}

.option {

  &:checked {
    background: var(--color-light-alt);
    color: var(--color-dark);
    text-shadow: none;
  }
}