@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  margin-block: 0;
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #f9f8fd;
  --color-light-alt: #c1c7f6;
  --color-dark: #15143a;
  --color-dark-alt: #8692f3;
  --color-accent: #6851b5;
  --color-error: #fd1b2e;
  --color-success: #00cc48;
  --border: 0.125rem solid var(--color-dark);
  --radius-small: 0.625rem;
  --radius-regular: 1.25rem;
  --radius-medium: 1.875rem;
  --radius-big: 2.5rem;
  --font-family-base: "Nunito", sans-serif;
  --container-width: 62.5rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  color: var(--color-dark);
  font-family: var(--font-family-base);
  background-color: var(--color-light);
  font-weight: 500;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1rem;
}
body.is-lock {
  overflow-y: hidden;
}
body.is-dark {
  --color-light: #15143a;
  --color-light-alt: #8692f3;
  --color-dark: #f9f8fd;
  --color-dark-alt: #c1c7f6;
  --color-accent: #ad94fd;
  --border: 0.125rem solid var(--color-light);
}

a,
button,
label,
input,
textarea,
select,
li,
svg * {
  transition-duration: var(--transition-duration);
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

h1, .h1 {
  font-size: clamp(2.5rem, 2.298553719rem + 0.826446281vw, 3.125rem);
}

h2, .h2 {
  font-size: clamp(2.1875rem, 1.986053719rem + 0.826446281vw, 2.8125rem);
}

h3, .h3 {
  font-size: clamp(1.375rem, 1.1131198347rem + 1.0743801653vw, 2.1875rem);
}

h4, .h4 {
  font-size: clamp(1.25rem, 1.048553719rem + 0.826446281vw, 1.875rem);
}

h5, .h5 {
  font-size: clamp(1.125rem, 0.9839876033rem + 0.5785123967vw, 1.5625rem);
}

h6, .h6 {
  font-size: clamp(1rem, 0.9194214876rem + 0.3305785124vw, 1.25rem);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-light);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-light);
  }
}
a[class] {
  text-decoration: none;
}

input, textarea {
  outline: none !important;
  border: 0.125rem solid var(--color-dark-alt);
  color: var(--color-dark);
}
input:focus, textarea:focus {
  border-color: var(--color-accent);
}
input::placeholder, textarea::placeholder {
  color: var(--color-accent);
}
@media (any-hover: hover) {
  input:hover, textarea:hover {
    outline-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  input:active, textarea:active {
    outline-color: var(--color-accent);
  }
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

button:disabled {
  color: var(--color-light-alt);
  filter: brightness(0.8);
  cursor: default;
  border-color: var(--color-light-alt);
}
@media (any-hover: hover) {
  button:disabled:hover {
    color: var(--color-light-alt);
  }
}
@media (any-hover: none) {
  button:disabled:active {
    color: var(--color-light-alt);
  }
}

body::-webkit-scrollbar {
  width: 0.625rem; /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--color-accent); /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-alt); /* цвет плашки */
  border-radius: 1.25rem; /* закругления плашки */
  border: 0.1875rem solid var(--color-dark); /* padding вокруг плашки */
}

body {
  scrollbar-width: thin; /* "auto" или "thin"  */
  scrollbar-color: var(--color-dark-alt) var(--color-accent); /* плашка скролла и дорожка */
}

.field__errors {
  color: var(--color-error);
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
}
.form:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.form__item {
  position: relative;
}
.form__counter {
  position: absolute;
  translate: 0 -50%;
  right: 0.625rem;
  backdrop-filter: blur(0.625rem);
  text-align: center;
  border-radius: var(--radius-regular);
  width: auto;
  padding-inline: 0.5rem;
  top: 3.8125rem;
  font-weight: 600;
}
.form__btn-bar {
  display: flex;
  column-gap: 0.625rem;
  align-self: center;
}
.form-btn {
  position: relative;
}
.form-btn:not(.is-active) span:not(.loading) {
  opacity: 0;
}

.input {
  border-radius: var(--radius-regular);
  padding: 0.9375rem;
  font-size: 1.25rem;
  width: 100%;
  background: var(--color-light);
}

.button {
  padding: 0.9375rem 1.25rem;
  background: var(--color-accent);
  border-radius: var(--radius-regular);
  font-size: 1.125rem;
  color: #f9f8fd;
  border: 0.125rem solid #6851b5;
}
.button--close {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.625rem;
  border-radius: 50%;
  background: var(--color-accent);
  position: absolute;
  rotate: 45deg;
  top: -0.9375rem;
  right: -0.9375rem;
}
.button--close::before, .button--close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  background: #f9f8fd;
  width: 60%;
  height: 0.1875rem;
  border-radius: var(--radius-regular);
}
.button--close::after {
  rotate: 90deg;
}
.button--navigation {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--color-dark);
}
@media (any-hover: hover) {
  .button--navigation:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .button--navigation:active {
    color: var(--color-accent);
  }
}
.button--redact {
  background: transparent;
  color: var(--color-accent);
  border: 0.125rem solid var(--color-accent);
  padding: 0.625rem;
  border-radius: var(--radius-big);
  width: min(100%, 18.75rem);
  margin-inline: auto;
}

.loading {
  width: 3.75rem;
  height: 3.75rem;
  animation: loading 1s linear 0s infinite;
  border-radius: 50%;
}
.loading:not(.is-active) {
  display: none;
}
@keyframes loading {
  to {
    rotate: 360deg;
  }
}
.loading--btn {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.1875rem;
  height: 2.1875rem;
}
.loading--absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.message {
  position: absolute;
  translate: -50% 0;
  top: -100%;
  left: 50%;
  text-align: center;
  padding: 0.625rem;
  border-radius: var(--radius-medium);
  backdrop-filter: blur(0.9375rem);
  background: rgba(0, 204, 72, 0.5);
  border: 0.125rem solid var(--color-success);
  color: #f9f8fd;
  opacity: 0;
  z-index: 10000;
  text-shadow: 0 0 0.3125rem #15143a;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
@media (any-hover: hover) {
  .navigation__settings:hover {
    rotate: 90deg;
  }
}
@media (any-hover: none) {
  .navigation__settings:active {
    rotate: 90deg;
  }
}
.navigation__back {
  font-size: clamp(1.25rem, 1.0888429752rem + 0.6611570248vw, 1.75rem);
  display: flex;
  column-gap: 0.3125rem;
  align-items: center;
  border: var(--border);
  padding: clamp(0.3125rem, 0.111053719rem + 0.826446281vw, 0.9375rem) clamp(0.625rem, 0.3228305785rem + 1.2396694215vw, 1.5625rem);
  border-radius: var(--radius-big);
}
@media (any-hover: hover) {
  .navigation__back:hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .navigation__back:active {
    color: var(--color-accent);
    border-color: var(--color-accent);
  }
}
.navigation__back svg {
  width: 2.5rem;
  height: 2.5rem;
  rotate: -90deg;
}
.navigation__students svg g, .navigation__calendar svg g {
  fill: transparent;
  stroke-width: 1.6;
}

.settings {
  border-radius: 50%;
  scale: 0;
}
.settings__title {
  text-align: center;
  margin-bottom: clamp(0.9375rem, 0.8367768595rem + 0.4132231405vw, 1.25rem);
}
.settings__item {
  display: flex;
  align-items: center;
  column-gap: clamp(0.625rem, 0.423553719rem + 0.826446281vw, 1.25rem);
}
.settings__item:not(:last-child) {
  margin-bottom: 1.25rem;
}
.settings__change {
  display: flex;
  align-items: center;
  column-gap: clamp(0.3125rem, 0.2117768595rem + 0.4132231405vw, 0.625rem);
}
.settings__change-body {
  background: var(--color-dark-alt);
  width: clamp(3.125rem, 2.6213842975rem + 2.0661157025vw, 4.6875rem);
  height: clamp(1.875rem, 1.5728305785rem + 1.2396694215vw, 2.8125rem);
  border-radius: var(--radius-big);
  position: relative;
}
.settings__change-btn {
  aspect-ratio: 1;
  height: 100%;
  background: var(--color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  background: var(--color-light);
}
.settings__change svg {
  width: clamp(1.5625rem, 1.4617768595rem + 0.4132231405vw, 1.875rem);
}
.settings__theme button.is-dark {
  left: 0;
}
.settings__theme button.is-light {
  right: 0;
}
.settings__animation button:not(.is-active) {
  right: 0;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: clamp(0.625rem, 0.423553719rem + 0.826446281vw, 1.25rem);
}
.list--padding {
  padding-right: 0.625rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.875rem;
  border: 0.125rem solid var(--color-dark-alt);
  border-radius: var(--radius-regular);
  cursor: pointer;
  width: 100%;
  padding: 0.9375rem;
}
@media (any-hover: hover) {
  .list__item:hover {
    border-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .list__item:active {
    border-color: var(--color-accent);
  }
}
.list__item h5 {
  white-space: nowrap;
}
.list__item.is-active {
  border-color: var(--color-accent);
  cursor: default;
}
.list__item--small {
  padding: 0.625rem 0.9375rem;
  border-color: var(--color-dark);
  column-gap: 0.625rem;
}
.list__item--small svg {
  color: var(--color-accent);
}
.list__btn-bar {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
.list-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--color-dark-alt);
}
@media (any-hover: hover) {
  .list-btn:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .list-btn:active {
    color: var(--color-accent);
  }
}
.list-btn svg {
  fill: transparent;
}

.absolute {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(0.3125rem);
  padding-block: 1.25rem;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
}
.absolute__content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: min(85%, 25rem);
  background: var(--color-light-alt);
  padding: 0.9375rem clamp(0.625rem, 0.5242768595rem + 0.4132231405vw, 0.9375rem);
  border-radius: var(--radius-medium);
  border: var(--border);
}
.absolute__btn-bar {
  display: flex;
  column-gap: 0.625rem;
  justify-content: center;
}
.absolute__second {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  backdrop-filter: blur(0.625rem);
  width: 100vw;
  height: 100vh;
  z-index: 2000;
}

.slice-string {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.message-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  opacity: 0;
}
.message-info:not(.is-active) {
  display: none;
}
.message-info__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  background: var(--color-light-alt);
  padding: 0.9375rem;
  border-radius: var(--radius-medium);
  max-width: 80%;
  text-align: center;
}
.message-info__btn-bar {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}

.authorization {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: var(--color-light-alt);
  padding: 1.25rem 0.625rem;
  border-radius: var(--radius-medium);
  width: min(85vw, 25rem);
}
.authorization__title {
  line-height: 1;
  font-weight: 700;
}
.authorization__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.authorization__slide {
  text-align: center;
}
.authorization__form:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.authorization__info {
  text-align: center;
  white-space: nowrap;
}
.authorization__info-btn {
  color: var(--color-light);
  position: relative;
  background: var(--color-accent);
  padding: 0.625rem 2.5rem 0.625rem 0.625rem;
  border-radius: var(--radius-medium);
}
.authorization__info-btn::after {
  width: 1.875rem;
  height: 1.875rem;
  content: "";
  translate: 0 -50%;
  top: 50%;
  right: 0.5rem;
  position: absolute;
  background: url("/src/assets/icons/arrow.svg") center/contain no-repeat;
  rotate: 90deg;
}

.groups {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-block: clamp(0.625rem, 0.423553719rem + 0.826446281vw, 1.25rem);
}
.groups__header {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
  margin-bottom: clamp(1.25rem, 0.847107438rem + 1.652892562vw, 2.5rem);
}
.groups__title {
  padding-inline: 0.625rem;
}
.groups__title-bar {
  text-align: center;
  width: 100%;
  border-radius: var(--radius-regular);
  white-space: nowrap;
  background: var(--color-accent);
  color: var(--color-light);
  overflow: hidden;
  padding-block: 0.625rem;
}
.groups-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.875rem;
  overflow-y: auto;
}
.groups__null-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}
.groups__null-list:not(.is-active) {
  display: none;
}
.groups__null-list svg {
  fill: transparent;
  width: min(30%, 12.5rem);
}
.groups__create {
  border-radius: 50%;
  opacity: 0;
  scale: 0;
}
.groups__create:not(.is-active) {
  display: none;
  backdrop-filter: blur(0);
}
.groups__create-btn {
  font-size: clamp(2rem, 1.798553719rem + 0.826446281vw, 2.625rem);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  background: var(--color-dark-alt);
  font-weight: 700;
  position: absolute;
  bottom: 0.3125rem;
  right: 0.3125rem;
  padding: 1.25rem;
  border-radius: 50%;
}
@media (any-hover: hover) {
  .groups__create-btn:hover {
    background: var(--color-accent);
  }
}
@media (any-hover: none) {
  .groups__create-btn:active {
    background: var(--color-accent);
  }
}
.groups__redact {
  border-radius: 50%;
  scale: 0;
}
.groups__redact:not(.is-active) {
  display: none;
  backdrop-filter: blur(0);
}
@media screen and (orientation: landscape) {
  .groups__redact-content {
    translate: -50% 0;
    top: 5% !important;
  }
}

.user {
  transition-duration: var(--transition-duration);
}
.user:not(.is-active) {
  display: none;
  backdrop-filter: blur(0);
}
.user__content {
  top: -100%;
  width: min(88%, 25rem);
}
@media screen and (orientation: landscape) {
  .user__content {
    translate: -50% 0;
    top: 5% !important;
  }
}

.groups-lessons__view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
  max-height: 31.25rem;
  position: relative;
  min-height: 30vh;
}
.groups-lessons__title {
  text-align: center;
  margin-bottom: 0.625rem;
}
.groups-lessons__null-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.groups-lessons__null-list:not(.is-active) {
  display: none;
}
.groups-lessons__null-list svg {
  fill: transparent;
  width: clamp(5rem, 2.5826446281rem + 9.9173553719vw, 12.5rem);
}
.groups-lessons__container-list:not(.is-active) {
  display: none;
}
.groups-lessons__list {
  overflow-y: auto;
  height: 40vh;
  padding-bottom: 0.0625rem;
}
.groups-lessons__btn {
  margin-top: 1.25rem;
}
.groups-lessons__create {
  border-radius: 50%;
}
.groups-lessons__create:not(.is-active) {
  display: none;
}
.groups-lessons__create-title {
  margin-bottom: 0.625rem;
  text-align: center;
}
.groups-lessons__info {
  border-radius: 50%;
  text-align: center;
}
.groups-lessons__info:not(.is-active) {
  display: none;
}
.groups-lessons__redact {
  border-radius: 50%;
}
.groups-lessons__redact:not(.is-active) {
  display: none;
}
.groups-lessons__redact-title {
  margin-bottom: 0.625rem;
  text-align: center;
}

.journal {
  display: flex;
  flex-direction: column;
  padding-block: clamp(0.625rem, 0.222107438rem + 1.652892562vw, 1.875rem);
}
.journal__navigation {
  margin-bottom: 0.625rem;
}
.journal__header {
  background: var(--color-accent);
  color: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.625rem;
  border-radius: var(--radius-medium);
  padding: clamp(0.625rem, 0.423553719rem + 0.826446281vw, 1.25rem);
  margin-bottom: 0.625rem;
}
.journal__vertical:not(.is-active) {
  display: none;
}
.journal__lessons {
  display: flex;
  justify-content: space-between;
  column-gap: 0.3125rem;
  margin-bottom: 0.9375rem;
}
.journal__lessons:not(.is-active) {
  display: none;
}
.journal__lessons-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: var(--color-light-alt);
  padding: clamp(0.625rem, 0.423553719rem + 0.826446281vw, 1.25rem);
  border: var(--border);
  cursor: pointer;
  border-radius: var(--radius-regular);
}
@media (any-hover: hover) {
  .journal__lessons-item:hover {
    background: var(--color-accent);
  }
}
@media (any-hover: none) {
  .journal__lessons-item:active {
    background: var(--color-accent);
  }
}
.journal__lessons-absolute {
  text-align: center;
  border-radius: 50%;
}
.journal__lessons-absolute:not(.is-active) {
  display: none;
}
.journal__null-list {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.journal__null-list:not(.is-active) {
  display: none;
}
.journal__null-list svg {
  fill: transparent;
  width: clamp(5.625rem, 3.8119834711rem + 7.4380165289vw, 11.25rem);
}
.journal__list:not(.is-active) {
  display: none;
}
.journal__students:not(.is-active) {
  display: none;
}
.journal__students-list {
  margin-bottom: clamp(0.9375rem, 0.736053719rem + 0.826446281vw, 1.5625rem);
}
.journal__students-btn {
  width: 100%;
}
.journal__students-item {
  position: relative;
  overflow: hidden;
}
.journal__students-btn-bar {
  position: absolute;
  right: -0.125rem;
  background: var(--color-dark-alt);
  padding: 0.625rem;
  border-radius: var(--radius-regular);
  transition-duration: var(--transition-duration);
}
.journal__students-btn-bar:not(.is-active) {
  right: -100%;
}
.journal__students-btn-bar svg {
  color: var(--color-light);
  filter: drop-shadow(0 0 0.1875rem var(--color-dark));
}
.journal__students-create:not(.is-active) {
  display: none;
}
.journal__students-redact:not(.is-active) {
  display: none;
}

.accordion {
  padding: clamp(0.625rem, 0.423553719rem + 0.826446281vw, 1.25rem);
  background: var(--color-light-alt);
  border: var(--border);
  border-radius: var(--radius-medium);
}
.accordion:not(:last-child) {
  margin-bottom: clamp(0.625rem, 0.423553719rem + 0.826446281vw, 1.25rem);
}
@media (any-hover: hover) {
  .accordion:hover {
    border-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .accordion:active {
    border-color: var(--color-accent);
  }
}
.accordion__student {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.625rem;
  cursor: pointer;
}
.accordion__btn {
  width: 1.875rem;
  height: 1.875rem;
  rotate: 90deg;
  transition-duration: var(--transition-duration);
}
.accordion__btn.is-active {
  color: var(--color-accent);
  rotate: -90deg;
}
.accordion__list {
  width: 100%;
  display: flex;
  column-gap: 0.3125rem;
  margin-block: 0.3125rem;
  height: min(15vw, 6.25rem);
  transition-duration: var(--transition-duration);
}
.accordion__list:not(.is-active) {
  height: 0;
  margin-block: 0;
}
.accordion__list:not(.is-active) > .accordion__item {
  transform: scaleY(0);
  opacity: 0;
}
.accordion__item {
  font-size: clamp(1.75rem, 1.2665289256rem + 1.9834710744vw, 3.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  aspect-ratio: 1;
  border: var(--border);
  cursor: pointer;
  position: relative;
}
@media (any-hover: hover) {
  .accordion__item:hover {
    border-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .accordion__item:active {
    border-color: var(--color-accent);
  }
}

.marks {
  transform-origin: center bottom;
  position: absolute;
  background: var(--color-accent);
  display: flex;
  column-gap: 0.9375rem;
  line-height: 1;
  padding: clamp(0.625rem, 0.423553719rem + 0.826446281vw, 1.25rem);
  border-radius: var(--radius-regular);
  color: var(--color-light);
  z-index: 1;
  bottom: 100%;
  box-shadow: 0 0 0.625rem 0.25rem var(--color-dark);
  transition-duration: var(--transition-duration);
}
.marks:not(.is-active) {
  scale: 0;
}

.table {
  font-size: clamp(1.125rem, 0.923553719rem + 0.826446281vw, 1.75rem);
  border-collapse: collapse;
  border-spacing: 0;
}
.table:not(.is-active) {
  display: none;
}
.table th {
  border: var(--border);
  padding: clamp(0.3125rem, 0.2117768595rem + 0.4132231405vw, 0.625rem);
}
.table__header-lessons {
  cursor: pointer;
}
.table__header-lessons-item {
  width: 20%;
  position: relative;
}
.table__header-lessons-item.is-active {
  cursor: pointer;
}
@media (any-hover: hover) {
  .table__header-lessons-item:hover {
    outline: 0.125rem solid var(--color-accent);
    box-shadow: 0 0 0.1875rem 0.0625rem var(--color-accent);
  }
}
@media (any-hover: none) {
  .table__header-lessons-item:active {
    outline: 0.125rem solid var(--color-accent);
    box-shadow: 0 0 0.1875rem 0.0625rem var(--color-accent);
  }
}
.table__main {
  height: 50vh;
}
.table__main:not(.is-active) {
  display: none;
}
.table__main-loading {
  position: relative;
  height: 100%;
}
.table__main-loading:not(.is-active) {
  display: none;
}
.table__main-null {
  margin-inline: auto;
  height: 100%;
}
.table__main-null:not(.is-active) {
  display: none;
}
.table__main-null svg {
  width: clamp(3.125rem, 0.5061983471rem + 10.7438016529vw, 11.25rem);
  fill: transparent;
}
.table__footer-student {
  max-width: 50vw;
  text-align: center;
}
.table__footer-lesson {
  position: relative;
}
.table__footer-student, .table__footer-lesson {
  cursor: pointer;
}
@media (any-hover: hover) {
  .table__footer-student:hover, .table__footer-lesson:hover {
    outline: 0.125rem solid var(--color-accent);
    box-shadow: inset 0 0 0.1875rem 0.0625rem var(--color-accent);
  }
}
@media (any-hover: none) {
  .table__footer-student:active, .table__footer-lesson:active {
    outline: 0.125rem solid var(--color-accent);
    box-shadow: inset 0 0 0.1875rem 0.0625rem var(--color-accent);
  }
}
.table__footer-list {
  translate: -50% 0;
  left: 50%;
}
.table__footer-item {
  font-size: clamp(1.875rem, 1.7541322314rem + 0.4958677686vw, 2.25rem);
}

.person:not(.is-active) {
  display: none;
}
.person__name {
  margin-bottom: 0.625rem;
  padding-bottom: 0.3125rem;
  text-align: center;
  border-bottom: var(--border);
}
.person__line {
  display: flex;
  column-gap: 1.875rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
  padding-bottom: 0.625rem;
  border-bottom: var(--border);
  position: relative;
}
.person__date {
  position: absolute;
  background: var(--color-dark-alt);
  padding: 1.25rem;
  translate: -50% -50%;
  border-radius: var(--radius-regular);
  color: var(--color-light);
  box-shadow: 0 0 0.625rem 0.1875rem var(--color-dark);
  transition-duration: var(--transition-duration);
  z-index: 1;
}
.person__date:not(.is-active) {
  scale: 0;
}
.person__date-item {
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}
.person__date-item:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (any-hover: hover) {
  .person__date-item:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .person__date-item:active {
    color: var(--color-accent);
  }
}
.person__btn {
  aspect-ratio: 1;
  width: clamp(2.1875rem, 1.784607438rem + 1.652892562vw, 3.4375rem);
}
@media (any-hover: hover) {
  .person__btn:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .person__btn:active {
    color: var(--color-accent);
  }
}
.person__btn svg g {
  fill: transparent;
}
.person__main {
  position: relative;
}
.person__loading {
  width: 2.5rem;
  height: 2.5rem;
}
.person__item {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
.person__number {
  color: var(--color-error);
}

.date:not(.is-active) {
  display: none;
}
@media screen and (orientation: landscape) {
  .date__content {
    translate: -50% 0;
    top: 5% !important;
  }
}
.date__header {
  padding-right: 1.25rem;
  margin-bottom: clamp(0.9375rem, 0.6353305785rem + 1.2396694215vw, 1.875rem);
}
.date__header-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: var(--border);
  aspect-ratio: 1;
  padding: 0.3125rem;
}
@media (any-hover: hover) {
  .date__header-btn:hover {
    border-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .date__header-btn:active {
    border-color: var(--color-accent);
  }
}
.date__header-form {
  display: flex;
  align-items: center;
  column-gap: 0.3125rem;
}
.date__header-input {
  font-size: clamp(1.25rem, 1.1492768595rem + 0.4132231405vw, 1.5625rem);
  width: 33%;
  background: transparent;
  border: none;
  border-bottom: var(--border);
  text-align: center;
  font-weight: 600;
}
.date__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date__no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: clamp(11.25rem, 8.8326446281rem + 9.9173553719vw, 18.75rem);
}
.date__no-data:not(.is-active) {
  display: none;
}
.date__null-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date__null-list:not(.is-active) {
  display: none;
}
.date__null-list svg {
  width: clamp(3.75rem, 2.541322314rem + 4.958677686vw, 7.5rem);
  fill: transparent;
}
.date__loading {
  width: 3.125rem;
  height: 3.125rem;
}
.date__list {
  margin-bottom: clamp(0.9375rem, 0.6353305785rem + 1.2396694215vw, 1.875rem);
  white-space: nowrap;
  max-height: 40vh;
}
.date__list-btn-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-dark-alt);
  column-gap: 0.625rem;
  position: absolute;
  right: -0.125rem;
  height: calc(100% + 0.25rem);
  padding-inline: 0.9375rem;
  border-radius: var(--radius-regular);
  transition-duration: var(--transition-duration);
}
.date__list-btn-bar:not(.is-active) {
  right: -100%;
}
.date__list-btn-bar svg {
  fill: transparent;
  color: var(--color-light);
  filter: drop-shadow(0 0 0.1875rem var(--color-dark));
}
.date__list-btn {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
}
.date__item {
  column-gap: 0.625rem;
  padding: 0.625rem;
  position: relative;
}
.date__item.is-active {
  border-color: var(--color-success);
  box-shadow: inset 0 0 0.0625rem 0.125rem var(--color-light);
  color: var(--color-light);
  text-shadow: 0 0 0.375rem var(--color-dark);
}

.date-create:not(.is-active) {
  display: none;
}
.date-create__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  row-gap: 0.3125rem;
  margin-bottom: 0.625rem;
}
.date-create__counter {
  display: flex;
  column-gap: 0.5rem;
}
.date-create__form {
  margin-bottom: 0.9375rem;
}
.date-create__btn-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.9375rem;
}
.date-create__item {
  padding: 0.625rem;
}
.date-create__item.is-active {
  border-color: var(--color-success);
  color: var(--color-light);
  text-shadow: 0 0 0.3125rem var(--color-dark);
  backdrop-filter: brightness(0.8);
}

/*# sourceMappingURL=main.css.map */
