@use '../helpers' as *;

.navigation {
  display: flex;
  align-items: center;
  column-gap: rem(10);

  &__settings {

    @include hover {
      rotate: 90deg;
    }
  }

  &__back {
    @include fluid-text(28, 20);

    display: flex;
    column-gap: rem(5);
    align-items: center;
    border: var(--border);
    padding: fluid(15, 5) fluid(25, 10);
    border-radius: var(--radius-big);

    @include hover {
      color: var(--color-accent);
      border-color: var(--color-accent);
    }

    svg {
      @include square(#{rem(40)});

      rotate: -90deg;
    }
  }

  &__students, &__calendar {

    svg {
      g {
        fill: transparent;
        stroke-width: 1.6;
      }
    }
  }
}